.map-box::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  width: 16px;
  height: 3px;
  border-radius: 2px;
  background-color: #42c1c6;
}
.map-box::after {
  content: "";
  position: absolute;
  content: "";
  top: -2px;
  right: -2px;
  width: 16px;
  height: 3px;
  border-radius: 2px;
  background-color: #42c1c6;
}
.map-box .map-wl-bor::before {
  content: "";
  position: absolute;
  content: "";
  bottom: -2px;
  left: -2px;
  width: 16px;
  height: 3px;
  border-radius: 2px;
  background-color: #42c1c6;
}
.map-box .map-wl-bor::after {
  content: "";
  position: absolute;
  content: "";
  bottom: -2px;
  right: -2px;
  width: 16px;
  height: 3px;
  border-radius: 2px;
  background-color: #42c1c6;
}
.map-title h3::after{
  position: absolute;
  content: "";
  top: 5px;
  left: -14px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ffffff;
}

/* 小框边框伪元素 */
.chart-wl-top::before {
  content: "";
  position: absolute;
  content: "";
  top: -2px;
  left: 0px;
  width: 22px;
  height: 3px;
  border-radius: 2px;
  background-color: #42c1c6;
}
.chart-wl-top::after {
  content: "";
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  width: 3px;
  height: 18px;
  border-radius: 2px;
  background-color: #42c1c6;
}
/* 右上 */
.chart-wl-right::before {
  content: "";
  position: absolute;
  content: "";
  top: -2px;
  right: 0px;
  width: 22px;
  height: 3px;
  border-radius: 2px;
  background-color: #42c1c6;
}
.chart-wl-right::after {
  content: "";
  position: absolute;
  content: "";
  top: -2px;
  right: -2px;
  width: 3px;
  height: 18px;
  border-radius: 2px;
  background-color: #42c1c6;
}
/* 左下 */
.chart-wl-left::before {
  content: "";
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0px;
  width: 22px;
  height: 3px;
  border-radius: 2px;
  background-color: #42c1c6;
}
.chart-wl-left::after {
  content: "";
  position: absolute;
  content: "";
  bottom: -2px;
  left: -2px;
  width: 3px;
  height: 18px;
  border-radius: 2px;
  background-color: #42c1c6;
}
/* 右上 */
.chart-wl-bottom::before {
  content: "";
  position: absolute;
  content: "";
  bottom: -2px;
  right: 0px;
  width: 22px;
  height: 3px;
  border-radius: 2px;
  background-color: #42c1c6;
}
.chart-wl-bottom::after {
  content: "";
  position: absolute;
  content: "";
  bottom: -2px;
  right: -2px;
  width: 3px;
  height: 18px;
  border-radius: 2px;
  background-color: #42c1c6;
}

.ch-title h2::after {
  content: "";
  position: absolute;
  content: "";
  top: 2px;
  left: -14px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #d76f56;
}
.ch-title h2::before {
  content: "";
  position: absolute;
  content: "";
  bottom: 2px;
  left: -14px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #42c1c6;
}
.mlfc-ind::after {
  position: absolute;
  content: "";
  top: 3px;
  /* right: -10px; */
  right: -50%;
  width: 1px;
  height: 10px;
  background-color: #2a4f5f;
}
/* 月度 */
.mopse::after {
  position: absolute;
  content: "";
  top: 25%;
  left: -20px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #42c1c6;
}